{% extends "home/base.html" %}
{% block title %}: About{% endblock title %}
{% block start %}
<div class="about">
    <div class="upper">
      <div class="logo">
        <div class="image">
          <div class="camp">
            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/78235/tent-clipart-md.png" alt="Image" id="tent"/>
          </div>
        </div>
      </div>
    
      <div class="info">
        <h1>ABOUT My</h1>
        <p>
          Do any of us find ourselves experiencing challenges we did not anticipate? Here, we encounter scenarios where we must exercise discernment. Despite this, we strive to maintain integrity and dedication, navigating through various circumstances with grace and professionalism."
        </p>
      </div>
    </div>
    <div class="lower">
      <div class="info" id="lower-info">
        <h1>ABOUT OUR TEAM</h1>
        <p>
          We can't predict where the next obstacle will come from. But it's imperative to be ready. The secret is innovation; it's about seeing the good in the midst of bad. Our capacity to adjust and come up with answers in the midst of difficulty is what makes us successful."
        </p>
      </div>
      <div class="slider" id="lower-img">
        {% load static %}
      
  </div>
  <script src="{% static 'js/main.js' %}"></script>

{% endblock start %}